<div class="property-info-window">
	<div class="row">
		<div class="col-md-12 info-headline">
			<span class="sold-price"><%= number_to_currency(sale.sold_price, precision: 0) %></span>
				<span class="list-price">(<%= number_to_currency(sale.list_price, precision: 0) %> 
					<% if (sale.sold_price.to_f / sale.list_price.to_f - 1)*100 >= 0 %>
						<span class="positive"><%= number_to_percentage((sale.sold_price.to_f / sale.list_price.to_f - 1)*100, precision: 2) %></span>
					<% else %>
						<span class="negative"><%= number_to_percentage((sale.sold_price.to_f / sale.list_price.to_f - 1)*100, precision: 2) %></span>
					<% end %>
				)</span>
		</div>
	</div>

	<% if sale.house_id == 0 %>
		<!-- NonHouse -->
		<% non_house = sale.non_house %>
		<div class="row">
			<div class="col-md-12 info-sub-headline"><%= non_house.address %></div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="picture">
					<%= image_tag(non_house.image_urls.first) %>
				</div>
			</div>
			<div class="col-md-7 no-padding">
				<div class="info-inner">
					<ul>
						<li><span class="info-label">Sold On:</span> <%= non_house.sales.last.sold_date %> (<%= non_house.sales.last.days_on_market %>  DOM)</li>
						<li><span class="info-label">Size:</span> <%= non_house.sqft_range_first %> - <%= non_house.sqft_range_second %> sq. feet</li>
						<li><span class="info-label">Bedrooms:</span> <%= non_house.bedrooms %> + <%= non_house.dens %></li>
						<li><span class="info-label">Washrooms:</span> <%= non_house.washrooms %></li>
						<li><span class="info-label">Parking:</span> <%= non_house.park_spaces %></li>
					</ul>
				</div>
			</div>
		</div>


	<% else %>
		<!-- House -->
		<% house = sale.house %>
		<div class="row">
			<div class="col-md-12 info-sub-headline"><%= house.address %></div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="picture">
					<%= image_tag(house.image_urls.first) %>
				</div>
			</div>
			<div class="col-md-7 no-padding">
				<div class="info-inner">
					<ul>
						<li><span class="info-label">Sold On:</span> <%= house.sales.last.sold_date %> (<%= house.sales.last.days_on_market %> DOM)</li>
						<li><span class="info-label">Lot:</span> <%= house.lot_first_dimension %> x <%= house.lot_second_dimension %> (<%= house.lot_square_footage %> sq. feet)</li>
						<% if house.sq_foot != " " %>
							<li><span class="info-label">Sq Feet:</span> <%= house.sq_foot %></li>
						<% end %>
						<li><span class="info-label">Rooms:</span> <%= house.rooms %> + <%= house.plus_rooms %></li>
					</ul>
				</div>
			</div>
		</div>

	<% end %>
	<div class="row">
		<div class="col-md-12 gapper"></div>
	</div>
</div>