<% @sales_near_by.each do |sale| %>
	<tr>	
		<td>
		<% if sale.house_id == 0 %>
			Condo
		<% else %>
			House
		<% end %>
		</td>
		<td>
			<address>
				<strong><%= sale.address %></strong><br>
				<%= sale.address_two %>
			</address>
		</td>
		<td><%= sale.sold_date %></td>
		<td><%= sale.days_on_market %></td>
		<td><%= number_to_currency(sale.sold_price, precision: 0) %></td>
		<td><%= number_to_currency(sale.list_price, precision: 0) %></td>
		<td><%= number_to_percentage((sale.sold_price.to_f / sale.list_price.to_f)*100, precision: 2) %></td>
	</tr>
<% end %>