<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
<!-- <div class="row" id="topper">
	<div class="col-md-12"></div>
</div> -->
	<div class="search-block">
		<%= form_tag root_path, method: :get, id:"search-form", class: 'form-inline', remote: true do %>
			<div class="row">
				<div class="search-bar-inner">
					<div class="row">
						<div class="col-md-10 no-padding">
							<%= text_field_tag :address, "", class: 'search-field', :placeholder => " Enter an Address to find Sales in that area" %>
						    <%= hidden_field_tag :latitude %>
						    <%= hidden_field_tag :longitude %>
						    <%= hidden_field_tag :proximity, 1000 %>
						    <%= hidden_field_tag :start_date, Time.now - 14.days %>
						    <%= hidden_field_tag :end_date, Time.now %>
					    </div>
					    <div class="col-md-2 no-padding">
					    	<div class="proximity-filter">
					    		<div class="proximity-filter-inner">
						    		<i id="proximity-toggle" class="fa fa-location-arrow fa-2x"></i>
						    		<span id="proximity-number"><<span class="max-value"> 1000</span>m</span>
						    		<div id="slider-dropdown">
							    		<input id="distance-slider" type="text" data-slider-min="0" data-slider-max="1000" data-slider-step="100" data-slider-value="1000">
						    		</div>
					    		</div>
					    	</div>
					    </div>
					</div>
					<div class="row">
					    <div class='col-md-5 no-padding'>
					    	<div class="calendar-filter">
								<div id='datetimepicker1'>
									<span class="calendar-label">From:&nbsp;&nbsp;</span>
				        			<input type='text' class="form-control" style="display:none;" />
				        			&nbsp;<i class="fa fa-calendar fa-1x"></i>&nbsp;
				        			<span class="filter-date"><%= @start_date.strftime('%a %b %d %Y') %></span>
								</div>
							</div>
						</div>
						<div class='col-md-1'></div>
						<div class='col-md-5 no-padding'>
							<div class="calendar-filter">
								<div id='datetimepicker2'>
				    				<span class="calendar-label">To:&nbsp;&nbsp;</span>
				        			<input type='text' class="form-control" style="display:none;" />
				        			&nbsp;<i class="fa fa-calendar fa-1x"></i>&nbsp;
				        			<span class="filter-date"><%= @end_date.strftime('%a %b %d %Y') %></span>
								</div>
							</div>				    
						</div>
					</div>
				</div>
			</div>
		<% end %>

	                			
	</div>

<!-- 	<div>
				<div class="col-md-7">
		
				<div class="filters-group">
					<ul class="pull-right">
		  				<li class="dropdown" id="map-drop-dropdown">
		  					
		  					<a id="map-drop" data-toggle="dropdown"><i class="fa fa-map-marker fa-2x"></i><span class="max-value"> 1000</span>m</a>
		  					<span class="calendar-label">Within: </span>
							<ul class="dropdown-menu" id="proximity-slider-drop" role="menu" aria-labelledby="map-drop">	
			    					<li>					
			    						<div class="proximity-slider">
							    			<input id="distance-slider" type="text" data-slider-min="0" data-slider-max="1000" data-slider-step="100" data-slider-value="1000">
				    					</div>				
			    					</li>
		  					</ul>
		  				</li>
		  				<li><p>Sales Between:</p></li>
                		<li>
                			

		  				</li>
		  				<li>

                		</li>
					</ul>
				</div>
				</div>
			</div>			
	</div>
 -->
<!-- </nav> -->
