<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<p class="hero">Toronto House Price Search</p>
	<p class="subheading">Find information on recent house & condo sales in the GTA</p>
	<div class="search-block">
		<%= form_tag root_path, method: :get, id:"search-form", class: 'form-inline', remote: true do %>
			<div class="row search-row">
				<div class="col-md-8 search-block">
					<%= text_field_tag :address, "", class: 'form-control search-field', :placeholder => "Enter your Address" %>
				    <%= hidden_field_tag :latitude %>
				    <%= hidden_field_tag :longitude %>
				    <%= hidden_field_tag :proximity, 1000 %>
				    <div class="proximity-slider">
					    <input id="distance-slider" type="text" data-slider-min="0" data-slider-max="5000" data-slider-step="100" data-slider-value="1000"/&t
			    		<span id="ex6CurrentSliderValLabel"> Find Sales Within: <span id="max-value">1000</span>m</span>
		    		</div>
				</div>
				<div class="col-md-4">
		<% end %>
					<input type="button", id="submit-button" value="Find Sales Near Me" onclick="codeAddress()", class="btn btn-success btn-inline search-button center-block">
				</div>
			</div>			
	</div>
  </div>
</nav>

<div class="row sub-nav-content">
	<div class="row">
		<div class="col-md-12"></div>
		<div id="map-canvas"></div>
	</div>
</div>
	
<table id="searchResults" class="table table-striped tablesorter">
	<thead>
		<th>Type</th>
		<th>Address</th>
		<th>Date Sold</th>
		<th>Size</th>
		<th>Sold Price</th>
		<th>List Price</th>
		<th>% of list</th>
		<th>Distance</th>
	</thead>
	<tbody>
		<%= render 'sale', sales_near_by: @sales_near_by %>
	</tbody>
</table>


